body{
    background-color: #f5f5f5;
    overflow-x:hidden;
}

h1{
    font-family: 'Montserrat', sans-serif; 
    line-height: 1.5;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size:3rem;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

p{
    color: #8f8f8f;
}





/* navigationbar and tiitle */

.navbar{
    margin-bottom:20px;
    padding: 0.5%;
    width: 100%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
}

.nav-item {
    padding:0 18px;    
}

.nav-link {
    font-size:1.2rem;
}

.nav-item :hover{
    transform: scale(1.25);
}
#title{
    background-image: url("images/benjamin-voros-jv15x2Gs5F8-unsplash.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    color:white;  
    height:100vh;
    width:100%;
  }
  
#welcome{
    padding-top: 90px;
}

.container
{   
    padding: 3% 15%;
}


.sliding-text{
    animation: 1.5s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.login{
    margin: 5% 3% 5% 0;
}
.login:hover{
    transform: scale(1.25);

}

.title-image{
    width:100%;
    transform:rotate(10deg);
}



/* features*/
#features{
    padding:7% 15%;
}

.feature-box{
    text-align:center;
    padding-top: 100px;
    margin-bottom: 0;
    padding-bottom:0;
}

.fa-solid{
    color:black;
}
.icon:hover{
    color:violet;
}



/* booking*/
#book{
    text-align: center;
    padding:7% 7% 0 0;
}

.tickets{
    padding-top:100px;
    text-align:center;
    font-weight:bold;
    font-family: 'Montserrat', sans-serif;
    width:100%;
}

#booking{
    text-align:center;
}

.book-icon{
    padding-bottom: 40px;
}
.book-icon:hover{
    color: violet;
    transform:scale(1.5);
}


/* footer*/
#footer{
    background-color:black;
    margin-top:50px;
    padding-top:50px;
}
.foot{
    text-align:center;
    color:grey;
    margin-bottom:16px;
}
.public-icon{
    margin:20px 10px;
    
}


/* testimonials */

#testimonials {
    background-color:#f5f5f5;
    text-align: center;
  }

  #testimonials h2 {
    color: black;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
  }
  
  #testimonials p{
    color: rgb(41, 41, 41);
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5;
  }
  
  .testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .carousel-inner{
    padding: 5% 15% 5%;
  }

  .active{
    transform: scale(1.25);
    background-color:white;
    border-radius: 25px;
}

  .carousel-item {  
    padding: 3% 5% 3%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
    border: 0.5px solid black;
    border-radius: 20px;
  }

  .carousel-control-prev{
      color:black;
  }

 