body{
    background: linear-gradient(90deg, #C7C5F4, #776BCC);	
    font-family: 'Roboto', sans-serif;
    color: white;
}

.login{
    width:360px;
    height:420px;
    background-color: black;
    margin:auto;
    border-radius:10px;
    margin-top:10%;
}

h1{
    text-align:center;
    padding-top:15px;
}
form{
    width: 300px;
    margin-left:20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size:18px;
}


form input{
    width: 100%;
    padding:7px;
    border:1px solid white;
    border-radius:6px;
    outline: none;
}

.btn {
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    font-size: 16px;
    margin-left: 100px;
    margin-top:20px;
    transition: 0.3s;
  
  }
  
  .btn:hover {
    background-color: #3e8e41;
    color: white;
  }

  p{
    text-align:center;
    padding-top:25px;
    margin-bottom:10px;
}