@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}

.body{
    /* background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: #f5f5f5;
}


.headingforbook{
    color: rgb(123, 182, 47);
    position: relative;
    top: 30px;
    left: 155px;
    font-size: 250%;
}


.headingcontainer{
    width: fit-content;
}


.maincontainer{
    border: 2px solid white;
    border-radius: 10px;
    height: 350px;
    margin-left: 10%;
    margin-bottom: 20%;
    width: fit-content;
    background-color: white;
}


.subcontainer1{
    display: flex;
    padding: 30px 0px 10px 0px;
    position: relative;
    margin-right: 20px;
}

.fromdiv{
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 20px;
    margin-right: 10px;
}

.todiv{
    display: flex;
    padding: 0px 0px 0px 210px;
    flex-direction: column;
    width: auto;
    margin-left: 10px;
}


.datediv{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
    padding: 0px 0px 0px 210px;
}

#idfrom,#idto,#iddate{
    font-size: 150%;
}

#from,#to,#date{
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    width: auto;
}


.submitbutton{
    position:absolute;
    top:325px;
    left: 200px;
    height: 50px;
}

#search{
    border: 2px solid orange;
    font-size: 120%;
    border-radius: 30px;
    background-color: orange;
    color: white;
    height: 100%;
    cursor: pointer;
}

#search:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.swap{
    background-color: red;
}

#swapimage{
    height: 50px;
    width: 150px;
    position: absolute;
    top: 50px;
    left: 210px;
    cursor: pointer;
}


#h2{
    font-size: 150%;
    color:limegreen;
}


.grpbuttons{
    margin-left: 10%;
    padding: 0px 0px 30px 0px;
    margin-bottom: 5%;
}


.arrow{
    text-align: right;
}


.button{
    border: 2px solid white;
    border-radius: 5px;
    background-color: white;
    color:deepskyblue;
    margin-right: 90px;
    width: 16%;
    height: 50px;
    font-size: 110%;
    cursor: pointer;
    text-align: left;
}


.button:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.paragraph{
    border: 2px solid white;
    border-radius: 10px;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 70px;
    background-color: white;
}


.heading1,.heading2,.heading3,.heading4,.heading5{
    font-size: 200%;
    color:lightseagreen;
}

.questions,.type1{
    margin-left: 10px;
}


span{
    color: blue;
}


.heading1answer,.heading2answer,.heading3answer,.heading4answer{
    margin-left: 10px;
}



.trainroutes{
   border: 2px solid white;
   border-radius: 10px;
   height: 200px;
   margin-left: 10%;
   margin-right: 10%;
   display: flex;
   flex-direction: column;
   margin-bottom: 70px;
   background-color: white;
}


.popular{
    margin-left: 50px;
}


#trainimage{
    height: 10px;
    width: 30px;
}


.heading5answer{
    display: flex;
}
